-----BEGIN ENCRYPTED SIGSTORE PRIVATE KEY-----
eyJrZGYiOnsibmFtZSI6InNjcnlwdCIsInBhcmFtcyI6eyJOIjo2NTUzNiwiciI6
OCwicCI6MX0sInNhbHQiOiJGbmNKdk1WK3R6QUN3RFl4QjVoVmw0ZjQvK05HM2pO
cFFmZ3pMclBwdno0PSJ9LCJjaXBoZXIiOnsibmFtZSI6Im5hY2wvc2VjcmV0Ym94
Iiwibm9uY2UiOiJjU2ZMT2VXcGd5NjM2ZDUvczV4UzhockI2eGhnRUdLSyJ9LCJj
aXBoZXJ0ZXh0IjoidmJQczBML0Q0Vm9KbHdKanEydEtRbldzVE5OQnV3eTBOVXhK
UFlPRHM3eVBNNnNYU2U4b09WTkN6UmpJb1RzY21lSThhbWk5OUtKV1E4SmN2QmVG
UUxsVWkrWnVYWkxpaWgrVUpGOEczNGV4TDNNSWd0Nm50ZzlGM1FYT0FMcW01aTVx
WFdRaDZMbFdZTGJwUncvWDJXU0JVWG5yNG1Cb3BUWmZ2VHQ4U08vUVpuWW05cTd2
SmF3QVk3RG1uUUZRcnZlS3dxY3NFZE5Tdnc9PSJ9
-----END ENCRYPTED SIGSTORE PRIVATE KEY-----
